<html>
<head>
  <title>Index of <%= pwd %></title>
  <style type="text/css">
    <%= include 'views/style.css' %>
  </style>
</head>
<body>
  <%
    parts = pwd.split('/').map { |p| p + '/' }
    parts = ['/'] if parts.empty?
    paths = parts.inject([]) { |acc, part| acc << ((acc.last || '') + part) }
    paths = paths.zip(parts)
  %>
  <h1>
    Index of <% paths.each { |path| %><a href="<%= path.first %>"><%= path.last %></a><% } %>
  </h1>
  <% if !dirs.empty? %>
    <ul>
      <% for dir in dirs %>
        <li><a href="<%= dir %>/"><%= dir %>/</a></li>
      <% end %>
    </ul>
  <% end %>
  <% if !files.empty? %>
    <ul>
      <% for file in files %>
        <li><a href="<%= file %>"><%= file %></a></li>
      <% end %>
    </ul>
  <% end %>
</body>
</html>
